 
 

table
{
	background-color: #FFFFEE;
	border-spacing: 0;
	border-collapse: collapse;
	border-top: 1px solid #ddd;
}

.titletable
{
	background-color: #888877;
	border-spacing: 0;
	border-collapse: collapse;
	border-top: 0;
        border-bottom: 0;
        
}
th
{
        background-color: #EEEEDD;
        padding: .5em 1em;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

td
{
	padding: .5em 1em;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #ddd;
        
}

.titletd
{
	padding: 0 0;
	vertical-align: top;
	text-align: left;
	border-bottom: 0;
        border-top: 0;
}

.lefttitletd
{
	padding: 0 0;
	vertical-align: top;
	text-align: left;
	border-bottom: 0;
        border-top: 0;
}

 

/* -----------------------
Layout styles
------------------------*/

.container
{
	max-width: 90%;
	margin: 0 auto;
}

.header
{
	color: #fff;
	background: #585858;
	padding: 0.5em 1.25em;
}

.header-heading { margin: 0; }
 

.content
{
	padding: 1em 1.25em;
	background-color: #fff;
}

.footer
{
	color: #fff;
	background: #000000;      
}

/* -----------------------
Nav
------------------------*/

.nav
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav li
{
	display: inline;
	margin: 0;
}

.nav a
{
	display: block;
	padding: .7em 1.25em;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid gray;
}

.nav a:link { color: white; }
.nav a:visited { color: white; }

.nav a:focus
{
	color: black;
	background-color: white;
}

.nav a:hover
{
	color: white;
	background-color: green;
}

.nav a:active
{
	color: white;
	background-color: red;
}

/* -----------------------
Single styles
------------------------*/

.img-responsive { max-width: 100%; }
 
.table
{
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}
 

/* Data Table */
table.dtable, table.logs {
 border-left: 1px solid;
 margin-left: 10px;
    
}

table.dtable td, table.logs 
td {
  
  padding-left:10px;
  
  border:1px solid;
  border-top:none;
  border-left:none;
}

table.dtable th, table.logs th {
  color: #FFF;
  font-size: 12px;
  font-weight:bold;
}


table.dtable, table.dtable td, table.dtable th, table.logs, table.logs td, table.logs th {
  border-color:#CCC;
}



/* Table headings */
table.dtable th, table.logs 
th {
  
  
background:#ADADAD;
  color:#FFF;
}

table.dtable th a, table.dtable th a:hover {
  color:#FFF;
  text-decoration:underline;
}

/* row highlighting on hover + select */
.dtable tr:hover td, .highlight td {  background-color: #FFFFDD; }
/* disabled highlighting on nohover */
.dtable tr:hover td.nohover, .highlight td.nohover {}





/* Form Table */

table.tform {
 border-left: 1px solid;
 border-top: 1px solid;
 margin-bottom: 10px;
}


table.tform td,table.tform 
th {
  padding-left:3px;
  border:1px solid;
  border-top:none;  
  border-left:none;
}

table.tform 
th {
    

    
    font-weight:bold;
    background:#eeeecc;
    padding-left:5px;
   /* width: 210px; */
}


table.tform.tpl th 
{
    width: 150px; 
}


table.tform td {
    background:#FFF;
}

table.tform, table.tform td, table.tform th {
  border-color:#CCC;
}

table.tform tr.header 
td {
    font-weight:bold;
    background:#FFADAD; 
    color:#FFF; 
}

table.tform tr.subheader 
td {
    font-weight:normal;
    background:#FFDCDC;
}

/* -----------------------
Wide styles
------------------------*/

 