<div style="height: 70px;"></div>
<footer class="p-3 bg-footer text-center text-white fixed-bottom">

    Copyright &copy; Code for computer software
    <script>document.write(new Date().getFullYear());</script>
</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="assets/js/vendors/jquery-3.2.1.min.js"></script>

<script src="assets/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="assets/js/main.js"></script>